body {
  background: black;
  transition: all 1s;
  color: white;
}
@media screen and (min-width: 768px) {
  #main {
    width: 70%;
    margin: 20px auto;
  }
  #main .classification {
    transition: all 1px;
    margin-top: 20px;
  }
  #main .classification .n-collapse {
    position: relative;
  }
  #main .classification .n-collapse .n-collapse-item__header {
    font-size: 18px;
  }
  #main .classification .n-collapse .classEditBtns {
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 10px;
  }
  #main .classification .n-collapse .compMatter > .n-card-header > .n-card-header__main {
    color: #6b6b6b;
    text-decoration: line-through solid #63e2b7;
  }
  #main .classification .n-collapse .matter .n-collapse-item__header {
    font-size: 14px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  #main {
    width: 90%;
    margin: 20px auto;
  }
  #main .classification {
    transition: all 1px;
    margin-top: 20px;
  }
  #main .classification .n-card-header {
    display: block;
  }
  #main .classification .n-card-header .n-card-header__main {
    word-wrap: break-word;
  }
  #main .classification .n-card-header .n-card-header__extra {
    display: block;
  }
  #main .classification .n-card-header .n-card-header__extra .classEditBtns {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  #main .classification .n-card-header .n-card-header__extra .classEditBtns .n-button {
    display: inline-flex;
  }
  #main .classification .n-collapse {
    position: relative;
  }
  #main .classification .n-collapse .compMatter > .n-card-header > .n-card-header__main {
    color: #6b6b6b;
    text-decoration: line-through solid #63e2b7;
  }
  #main .classification .n-collapse .matter .n-card-header {
    display: block;
  }
  #main .classification .n-collapse .matter .n-card-header .n-card-header__extra {
    display: block;
  }
  #main .classification .n-collapse .matter .n-card-header .n-card-header__extra > div:first-child,
  #main .classification .n-collapse .matter .n-card-header .n-card-header__extra > div:nth-child(2) {
    margin-top: 15px;
    display: inline-flex;
  }
  #main .classification .n-collapse .matter .n-card-header .n-card-header__extra > div:last-child {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
  }
  #main .classification .n-collapse .matter .n-collapse .n-collapse-item {
    margin: 0 auto;
  }
  #main .classification .n-collapse .matter .n-collapse-item__header {
    font-size: 14px;
    margin-top: 20px;
  }
}
#shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
  #createClassForm,
  #editClassForm {
    border-radius: 3px;
    width: 80%;
    position: fixed;
    left: 10%;
    top: 10%;
    z-index: 999;
    box-shadow: #38daa3 0px 0px 15px;
  }
  #createClassForm .createClassDescribe,
  #editClassForm .createClassDescribe {
    display: none;
  }
  #createMatterForm,
  #editMatterForm,
  #createMatterSonForm {
    border-radius: 3px;
    width: 90%;
    position: fixed;
    left: 5%;
    top: 8%;
    z-index: 999;
    box-shadow: #38daa3 0px 0px 15px;
  }
  #createMatterForm .n-rate,
  #editMatterForm .n-rate,
  #createMatterSonForm .n-rate {
    --item-size: 14px!important;
  }
  .n-input {
    background-color: rgba(170, 170, 170, 0.5);
  }
  .n-input .n-input-wrapper .n-input__input .n-input__input-el {
    color: #38daa3;
  }
  .n-input .n-input-wrapper .n-input__textarea .n-input__textarea-el {
    color: #38daa3;
  }
}
@media screen and (min-width: 768px) {
  #createClassForm,
  #editClassForm {
    border-radius: 3px;
    width: 45%;
    position: fixed;
    left: 28%;
    top: 25%;
    z-index: 999;
    box-shadow: #38daa3 0px 0px 15px;
  }
  #createMatterForm,
  #editMatterForm,
  #createMatterSonForm {
    border-radius: 3px;
    width: 45%;
    position: fixed;
    left: 28%;
    top: 20%;
    z-index: 999;
    box-shadow: #38daa3 0px 0px 15px;
  }
}
.fade-display-enter-active {
  opacity: 0;
  transition: all 1s;
}
.fade-display-enter-to {
  opacity: 1;
}
.fade-display-leave-active {
  transition: all 1s;
  opacity: 1;
}
.fade-display-leave-to {
  opacity: 0;
}
.Slide-bottom-enter-active {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s;
}
.Slide-bottom-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.Slide-bottom-leave-active {
  transition: all 1s;
}
.Slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(40px);
}
.Slide-left-enter-active {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 1s;
}
.Slide-left-enter-to {
  opacity: 1;
  transform: translateX(0);
}
.Slide-left-leave-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}
.Slide-left-leave-to {
  opacity: 0;
  transform: translateX(-80px);
}
/*# sourceMappingURL=./style.css.map */